
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
}
  
.edit-form label {
  margin-right : 10px;
  color: white;
  font-weight: bold;
}
  
input {
  padding: 5px;

  &:read-only {
    opacity: 0.5;
  }
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 103%;
  gap: 5px;
}

.welcome-user {
  color: white;
  padding-top: 20px ;
  margin: 0;
}